@model IEnumerable<Booking_Dental_Clinic.Models.AspNetUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Nha khoa</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .header {
            background-color: #f5f5f5;
            padding: 20px;
            text-align: center;
        }

        h1 {
            color: #333333;
            margin: 0;
        }

        .content {
            padding: 20px;
        }

        p {
            color: #666666;
        }

        .profile {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }

            .profile img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 20px;
            }

            .profile h2 {
                margin: 0;
                color: #333333;
            }

            .profile p {
                margin: 0;
                color: #666666;
            }
    </style>
</head>
<body>
    <div class="header">
        <h1>Admin Nha khoa</h1>
    </div>

    <div class="content">
        <img class="img-fluid w-100" src="~/img/hero.jpg" alt="">
        <p>Xin chào, tôi là Nguyễn Tấn Trung , admin của Nha khoa STH. Tôi có kinh nghiệm lâu năm trong lĩnh vực nha khoa và sẵn lòng hỗ trợ bạn với mọi vấn đề liên quan đến nha khoa. Đừng ngần ngại liên hệ với tôi nếu bạn cần bất kỳ thông tin hoặc giúp đỡ nào.</p>
        <p>Chúng tôi cam kết mang lại dịch vụ chất lượng cao và đáp ứng mọi nhu cầu của bạn với đội ngũ nhân viên chuyên nghiệp và trang thiết bị hiện đại. Hãy đặt hẹn với chúng tôi để được tư vấn và điều trị tốt nhất.</p>
        <p>Xin cảm ơn và hy vọng được phục vụ bạn!</p>
    </div>
</body>
</html>

