@model IEnumerable<Booking_Dental_Clinic.Models.DienDan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Diễn Đàn</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tiêu Đề
        </th>
        <th>
            Hình Ảnh
        </th>
        <th>
            Nội Dung chính
        </th>
        <th>
           Hình Minh Họa 
        </th>
        <th>
            Nội dung
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            <img class="img-fluid w-100" src="~/img/diendan/@item.img" alt="">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            <img class="img-fluid w-100" src="~/img/diendan/@item.img2" alt="">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.content2)
        </td>
        <td>
            <a class="btn btn-sm btn-success" href="~/Admin/Blog/Edit?id=@item.Id_diendan">Cập Nhật</a>
            <a class="btn btn-sm btn-danger" href="~/Admin/Blog/Delete?id=@item.Id_diendan">Xóa</a>
            <a class="btn btn-sm btn-danger" href="~/Admin/Blog/Details?id=@item.Id_diendan">Chi tiết</a>
        </td>
    </tr>
}

</table>
