@model IEnumerable<Booking_Dental_Clinic.Models.DanhGiaBinhLuan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NhaSi/Views/Shared/_LayoutNhaSi.cshtml";
}

<h2>Trang Đánh Gía</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Điểm Đánh Giá</th>
                <th>Nội Dung</th>
                <th>Ngày Tạo</th>
                <th>Tên Nhà Sĩ</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.DiemDanhGia)</td>
                    <td>@Html.DisplayFor(modelItem => item.NoiDung)</td>
                    <td>@Html.DisplayFor(modelItem => item.NgayTao)</td>
                    <td>@Html.DisplayFor(modelItem => item.NhaSi.Ten)</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>
