
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.active = 2;
}

<!-- GIỚI THIỆU -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="~/img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">GIỚI THIỆU</h5>
                    <h1 class="display-4">Chăm sóc nha khoa tốt nhất cho bản thân và gia đình bạn</h1>
                </div>
                <p>Nha Khoa STH là thương hiệu độc quyền được bảo hộ trên toàn lãnh thổ Việt Nam, hệ thống Nha Khoa STH đạt tiêu chuẩn ISO 9001:2015 và top 50 thế giới GCR Hoa Kỳ, được xây dựng khang trang, ứng dụng công nghệ hiện đại, hướng đến những người dân xa trung tâm thành phố vẫn không bị bỏ rơi, họ cũng có cơ hội hưởng được những dịch vụ nha khoa chuyên nghiệp, đúng chuẩn và hiện đại gần ngay nơi mình sinh sống.</p>
                <div class="row g-3 pt-3">
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-user-md text-primary mb-3"></i>
                            <h6 class="mb-0">Đạt tiêu chuẩn<small class="d-block text-primary">Bác Sĩ</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-procedures text-primary mb-3"></i>
                            <h6 class="mb-0">Khẩn cấp<small class="d-block text-primary">Dịch vụ</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-microscope text-primary mb-3"></i>
                            <h6 class="mb-0">Chính xác<small class="d-block text-primary">Thử nghiệm</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-ambulance text-primary mb-3"></i>
                            <h6 class="mb-0">Miễn phí<small class="d-block text-primary">Xe cứu thương</small></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- KẾT THÚC GIỚI THIỆU -->
<!-- TÌM KIẾM -->
<div class="container-fluid bg-primary my-5 py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">Tìm Bác Sĩ</h5>
            <h1 class="display-4 mb-4">Tìm một chuyên gia chăm sóc nha khoa</h1>
            <h5 class="text-white fw-normal">Để răng luôn chắc khỏe là sứ mệnh cao cả của chúng tôi.</h5>
        </div>
        <div class="mx-auto" style="width: 100%; max-width: 600px;">
            <div class="input-group">
                <input type="text" class="form-control border-primary w-50" placeholder="Từ Khóa">
                <button class="btn btn-dark border-0 w-25">Tìm Kiếm</button>
            </div>
        </div>
    </div>
</div>
<!-- KẾT THÚC TÌM KIẾM -->
