@model Booking_Dental_Clinic.Models.NhaSi

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">
    <div class="row g-4">
        <div class="col-lg-5">
            <div class="mb-5">
                <img class="img-fluid w-100 rounded mb-5" src="~/img/@Model.HinhAnh" style="max-width: 400px" alt="">
            </div>
        </div>
        <!-- Sidebar Start -->
        <div class="col-lg-5">
            <div class="mb-5">
                <h2>Nha Sĩ</h2>
                <h1 class="mb-4"> @Html.DisplayFor(model => model.Ten)</h1>
                <p>
                    @Html.DisplayFor(model => model.ThongTin)
                </p>

            </div>
        </div>
    </div>
</div>